<!DOCTYPE html>
<html>

  <head>
    <link href= "css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href= 'css/sb-admin.css' rel="stylesheet" type="text/css">
    <link href= "font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  </script>
  <body> 
    <div id="wrapper">        
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <div ng-controller = 'RegressionDataController' ng-init="getListofCountryCity()">
                  <div id="Regression" style="width: 900px; height: 500px;"></div>                  
                </div>  
                <div class="container-fluid" ng-controller="RegressionDataController"> 
                    <p>Temperature Change rate: {{Coefficient}}</p>
                </div>
                <div class="container-fluid">
                <form ng-submit="getCityAvgTempData()" ng-controller="RegressionDataController">
                  Enter Details:</br>                  
                  <select ng-model="Country" ng-options="x for x in ListOfCountry"></select></br>                  
                  <select ng-model="City" ng-options="x for x in ListOfCity"></select></br>
                  <select ng-model="Month" ng-options="x for (x, y) in MonthList"></select></br>
                  No. of Years:<input type="text" ng-model="NumberOfYears" name="NumberOfYears" placeholder="100"/></br>    
                  
                  <input type="submit" id="submit" value="Submit" />
              </form>
              </div>

              <div class="container-fluid">
              <div class="container-fluid" ng-controller="RegressionDataController"> 
                <p>Predicted Temperature: {{PredictedTemp}}</p>
              </div>
              <form ng-submit="getPredictedTemp()" ng-controller="RegressionDataController">
                  
                  Enter Year:<input type="text" ng-model="Year" name="Year" /></br>
                  <input type="submit" id="submit" value="Submit" />
              </form>
              </div>              
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
	<!-- /#page-wrapper -->
</div>

<script type="text/javascript" src={{ url_for('static',filename="js/angular.min.js" ) }}></script>
<script type="text/javascript" src={{ url_for('static',filename="js/jQuery.js" ) }}></script>

<!-- Bootstrap Core JavaScript -->
<script src={{ url_for('static',filename="js/bootstrap.min.js" ) }}></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>

<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi?ext.js"></script>
    
  </body>

</html>