<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 60%;
        left: 100px
      }
      
    </style>
  </head>
  <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script src="js/jquery.js"></script>  
  <script type='text/javascript' src="js/app.js">    
  </script>
  
  <body>
    <form ng-submit="getCoordinateClusterData()" ng-controller="ClusterDataController">
        <input type="text" ng-model="Year" name="Year" /></br>
        <input type="text" ng-model="Month" name="Month" /></br>
        <input type="submit" id="submit" value="Submit" />
    </form>
    <div ng-controller = 'ClusterDataController' id="map" style="width: 900px; height: 500px;">
      
    </div>    
  </body>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaLJJgSkTSvmJP_QTZsI0iMD_Gm_Khtc0">
  </script>
</html>